body {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}


.highlighted-book{
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
}

h1, h3 {
    color: #fff;
}

.titulo-desplegable {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    padding: 10px;
    margin-right: 600px;
    border-radius: 5px;
    margin-bottom: 10px;

    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

.btn {
    background-color: #615c51;
    border-color: #615c51;
}

.btn-secondary {
    margin-bottom: 20px;
}

.tabla-desplegable {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}
